/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
@import '/home/johnny/.cache/wal/colors-waybar.css';

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "JetBrainsMonoNLNerdFont";
    font-size: 15;
    font-weight: 500;
    border: none;
    border-radius: 0px;
}


button{
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 5px;
}

window#waybar {
    background-color: transparent; 
    border-bottom: 0px solid #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    color: @foreground;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces{
    background: transparent;
    margin: 5px 1px 6px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    opacity: 1;
    color: @forground;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @foreground;
    background-color: @background;
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
}

#workspaces button.active {
    color: @forground;
    background: @background;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 10px;
    background-color: @background;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @textcolor2;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    background-color: @background;
    border-radius: 12px;
    color:@foreground;
    padding: 1px 14px 0px 14px;
    margin: 8px 14px 8px 14px;
}

window#waybar.empty #window {
    background-color:transparent;
}


/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    color: @foreground;
    background-color: @background;
    border-radius: 12px;
    padding: 1px 14px 0px 14px;
    margin: 8px 14px 8px 14px;
}

/* -----------------------------------------------------
 *Battery 
 * ----------------------------------------------------- */

#battery {
    color: @foreground;
    background-color: @background;
    border-radius: 12px;
    padding: 1px 14px 0px 14px;
    margin: 8px 14px 8px 14px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    color: @foreground;
    background-color: @background;
    border-radius: 12px;
    padding: 1px 14px 0px 14px;
    margin: 8px 14px 8px 14px;
}

#pulseaudio.muted {
    color: @foreground;
    background-color: @background;
    border-radius: 12px;
    padding: 1px 14px 0px 14px;
    margin: 8px 14px 8px 14px;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: @background;
    border-radius: 12px;
    color: @foreground;
    padding: 1px 14px 0px 14px;
    margin: 8px 14px 8px 14px;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

 #bluetooth, #bluetooth.on, #bluetooth.connected {
    color: @foreground;
    opacity:0.8;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

